edit:
  command: "code"
  args: ["-r", "--wait"]

"interpreters.ps1":
  command: "pwsh.exe"

{{ if eq .chezmoi.os "windows" -}}
sourceDir: "{{- .chezmoi.workingTree -}}/windows"
{{ else }}
sourceDir: "{{- .chezmoi.workingTree -}}/linux"
{{ end }}

{{- $codespaces := env "CODESPACES" | not | not }}
data:
  codespaces: {{ $codespaces }}

{{- if eq .chezmoi.os "windows" }}
  {{- $winToolsPath := promptStringOnce . "win_tools_path" "Path where tools get installed in Windows" }}
  win_tools_path: {{ $winToolsPath | quote }}
{{- end }}
