{{- $codespaces := env "CODESPACES" | not | not -}}

data:
  codespaces: {{ $codespaces }}

edit:
  command: "code"
  args: ["-r", "--wait"]

{{- if eq .chezmoi.os "windows" -}}
sourceDir: "./windows"
{{ else }}
sourceDir: "./linux"
{{- end }}
