# Force syntax highlighting for chezmoi template files
*gitconfig.tmpl   linguist-language=gitconfig
*ps1.tmpl         linguist-language=pwsh
*sh.tmpl          linguist-language=zsh
*yaml.tmpl        linguist-language=yml
*zshrc.tmpl       linguist-language=zsh
