{{- if eq .chezmoi.os "linux" -}}
#!{{ lookPath "bash" }}
# When editing the template for this script, see https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
# for details on the line above.

{{- if (eq (index .chezmoi.osRelease "id") "debian") -}}
sudo apt update;

# Set up the APT repository to get the latest version of git.
# A1715D88E1DF1F24 is the signing key for the git PPA itself, the others
# are dependencies (I think).
sudo apt-key adv --recv-keys --keyserver keyserver.ubuntu.com A1715D88E1DF1F24 40976EAF437D05B5 3B4FE6ACC0B21F32 A6616109451BBBF2;
sudo apt install --yes software-properties-common; # Contains 'add-apt-repository'
sudo add-apt-repository --yes ppa:git-core/ppa;

# Update package lists again after adding repository
sudo apt update;

# Install packages.
sudo apt install --yes --no-install-recommends \
    git \
    ssh;

# Install zsh and set it as the default shell.
sudo apt install --yes --no-install-recommends zsh;
{{- end -}}

sudo chsh -s $(which zsh);

# Install fnm. --skip-shell because the .zshrc template already adds it
# to the PATH.
curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell;

{{- if .codespaces -}}
# Set up the APT repository to get the latest version of git.
# A1715D88E1DF1F24 is the signing key for the git PPA itself, the others
# are dependencies (I think).
sudo apt install --yes software-properties-common; # Contains 'add-apt-repository'
sudo add-apt-repository --yes ppa:git-core/ppa;
{{- end -}}

{{- end -}}
