# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- /*
# See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
# for details on the line below. Needed for this script to run successfully in Github Codespaces.
# */ -}}
#!# {{- lookPath "bash" }}

# Skip installation if $ZSH is not empty or the default oh-my-zsh directory exists
if [ "$ZSH" ] || [ -d "$HOME/.oh-my-zsh" ] ; then
	echo "OhMyZsh seems to be installed already at '${ZSH:-$HOME/.oh-my-zsh}'. Skipping installation.";
else
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/b2313ec7493dc127c9712f20654579221d0bcce6/tools/install.sh)" "" --unattended;
fi
