# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- /*
# See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
# for details on the line below. Needed for this script to run successfully in Github Codespaces.
# */ -}}
#!# {{- lookPath "bash" }}

PATH_TO_ZSH=$(which zsh)
CURRENT_USER=$(whoami)

if [ $SHELL != $PATH_TO_ZSH ]; then
	# Change default shell for current user
	echo "Updating default shell for user '$CURRENT_USER'";
	sudo chsh -s $PATH_TO_ZSH $CURRENT_USER;
else
	echo "Default shell for user '$CURRENT_USER' is already '$PATH_TO_ZSH'";
fi
