# This is intended to be sourced by the "Current user, all hosts" PowerShell profile file
# (at $profile.CurrentUserAllHosts) so it applies to all host applications that host PowerShell
# (e.g. PowerShell ISE, VSCode).
#
# Done this way instead of directly creating the profile file with chezmoi because I have setups
# where the actual file lives in another drive and I can't update it easily with chezmoi.

{{ includeTemplate "../.chezmoitemplates/profile.ps1" . -}}

#----------------------------------------------------------
# Aliases
#----------------------------------------------------------

# NOTE: seems like the default version of OpenSSH that comes with Windows 11 has issues communicating with the ssh-agent
# to auto-add keys. The one in development in Github (https://github.com/powershell/Win32-OpenSSH) would probably work
# but I don't want to get into the trouble of overriding the default and configuring the new one.
# For now I'll live with dealing with authenticating the keys on every execution of SSH.
#
# Alias for SSH to auto-load ssh keys on first use and keep them in the agent for 10 hrs.
# function private:ssh {param($params);
# 	(ssh-add -l | Out-Null || (ssh-add -t 10h && Write-Host -ForegroundColor Green "ssh-key(s) are now available in ssh-agent for 10 hrs!`n")) && ssh $params;
# }

# Chezmoi commmands
function private:cuaf {
	chezmoi update --apply=false;
}

# Winget commands
function private:wlua {
	winget list --upgrade-available;
}
