# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

# This file is intended to be sourced by the "Current user, all hosts" PowerShell profile file
# (at $profile.CurrentUserAllHosts) so it applies to all host applications that host PowerShell
# (e.g. PowerShell ISE, VSCode).
#
# Done this way instead of directly creating the profile file with chezmoi because I have setups
# where the actual file lives in another drive and I can't update it easily with chezmoi.

# {{ includeTemplate "../.chezmoitemplates/profile.ps1" . -}}

#----------------------------------------------------------
# Aliases
#----------------------------------------------------------

# Chezmoi commmands
function private:cuaf {
	chezmoi update --apply=false;
}

# Winget commands
function private:wlua {
	winget list --upgrade-available;
}

# TODO: would this work in Linux?
# Alias for SSH to auto-load ssh keys on first use and keep them in the agent for 10 hrs.
# function private:ssh {param($params);
# 	(ssh-add -l | Out-Null || (ssh-add -t 10h && Write-Host -ForegroundColor Green "ssh-key(s) are now available in ssh-agent for 10 hrs!`n")) && ssh $params;
# }

function private:add-ssh-keys {
	Write-Warning "The keys will be added to the agent permanently until you remove them";
	# As of 2025-11-29, the -t flag of ssh-add is not supported on Windows.
	# See https://github.com/PowerShell/Win32-OpenSSH/issues/1056 for details.
	# ssh-add -t 4h
	ssh-add
}

function private:remove-ssh-keys {
	ssh-add -D
}

function private:install-apps {
	param(
		[switch]$personal
	)

	$PathToGitInstallerSettings = Join-Path -Path $env:USERPROFILE -ChildPath ".config/git-for-windows-installer-settings.ini";
	$PathToVsCodeInstallerSettings = Join-Path -Path $env:USERPROFILE -ChildPath ".config/vscode-installer-settings.ini";

	$ApplicationsToInstall = @(
		@{Id = "7zip.7zip"; }
		@{Id = "AgileBits.1Password"; }
		@{Id = "Git.Git"; Args = "/SILENT /LOADINF=$PathToGitInstallerSettings" }
		@{Id = "GitHub.GitLFS"; }
		# Google.Chrome.EXE (vs Google.Chrome) does a user-level install
		@{Id = "Google.Chrome.EXE"; }
		@{Id = "JanDeDobbeleer.OhMyPosh"; }
		@{Id = "Microsoft.Edge.Dev"; }
		@{Id = "Microsoft.VisualStudioCode"; Args = "/SILENT /LOADINF=$PathToVsCodeInstallerSettings" }
		@{Id = "Microsoft.WindowsTerminal"; }
		# @{Id="Docker.DockerDesktop",
	);

	$MSStoreApplications = @(
		@{Id = "9NBLGGH4NNS1"; Name = "App Installer" }
		@{Id = "9PGCV4V3BK4W"; Name = "Dev Toys" }
		@{Id = "9P7KNL5RWT25"; Name = "Sysinternals Suite" }
	);

	if ($personal) {
		$ApplicationsToInstall += @(
			@{Id = "Discord.Discord" }
			@{Id = "PrivateInternetAccess.PrivateInternetAccess" }
			@{Id = "Spotify.Spotify" }
			@{Id = "Tailscale.Tailscale" }
			@{Id = "Valve.Steam" }
			@{Id = "Windscribe.Windscribe" }
		);

		$MSStoreApplications += @(
			@{Id = "9NKSQGP7F2NH"; Name = "WhatsApp" }
		);
	}

	Write-Host -ForegroundColor Cyan "Installing packages from source 'winget'";

	foreach ($app in $ApplicationsToInstall) {
		winget list --exact --id $app.Id --source winget > $null;
		if ($LastExitCode -eq 0) {
			Write-Host "Winget package $($app.Id) is already installed";
		} else {
			Write-Host "Installing Winget package $($app.Id)";
			if (-not $app.ContainsKey("Args") -or $null -eq $app.Args) {
				winget install --exact --id $app.Id --source winget;
			} else {
				winget install --exact --id $app.Id --source winget --override "$($app.Args)";
			}
		}
	}

	Write-Host -ForegroundColor Cyan "Installing applications from source 'msstore'";

	foreach ($app in $MSStoreApplications) {
		winget list --exact --id $app.Id --source msstore > $null;
		if ($LastExitCode -eq 0) {
			Write-Host "Package $($app.Name) ($($app.Id)) is already installed";
		} else {
			Write-Host "Installing MSStore app $($app.Name) ($($app.Id))";
			winget install --exact --id $app.Id --source msstore --accept-package-agreements --accept-source-agreements;
		}
	}
}
