# shellcheck shell=bash
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

#############################################################
# Misc
#############################################################

# Make / (or any non-alphanumeric character) a stopping point for backward-kill-word and forward-kill-word
autoload -U select-word-style;
select-word-style bash;

# {{- if not .is_codespaces }}
# Use ssh-ident.
# Needs to be a symlink from a file called 'ssh' accessible in PATH so when git and others call 'ssh' they call this.
SSH_SHIM=${HOME}/bin/ssh;
SSH_SHIM_TARGET=${HOME}/.local/bin/ssh-ident;
if [[ -e ${SSH_SHIM} ]]; then
    CURRENT_TARGET=$(readlink -f "${SSH_SHIM}");
    if [[ ${CURRENT_TARGET} != "${SSH_SHIM_TARGET}" ]]; then
        echo "'ssh' shim at '${SSH_SHIM}' points to '${CURRENT_TARGET}' (expected '${SSH_SHIM_TARGET}')" 1>&2;
    fi
else
    ln -s "${SSH_SHIM_TARGET}" "${SSH_SHIM}";
fi
# {{- end }}

# Show open port information.
alias ports="ss --tcp --udp --all --processes"

# Print PATH entries, one per line
alias path='echo -e ${PATH//:/\\n}'

# Date/time shortcuts
alias nowtime='date +"%T"'
alias nowdate='date +"%Y-%m-%d"'

# Grep shortcuts
alias egrep='grep -E --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias fgrep='grep -F --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'

# Chezmoi commands
alias cuaf='chezmoi update --apply=false'

# Diff between current commit and common ancestor between it and the specified branch
function gdtool() {
    if [[ "$#" -ne 1 ]]; then
        cat << EndOfInstructions
Opens the git difftool comparing the current commit against the common ancestor
between it and the specified branch.

Usage: gdtool <branch-name | commit>
EndOfInstructions

        return 1;
    fi
    local COMMON_ANCESTOR
    COMMON_ANCESTOR=$(git merge-base HEAD "$1");
    echo "Diff between HEAD and ${COMMON_ANCESTOR}";
    git difftool -d HEAD "${COMMON_ANCESTOR}";
}
