# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if not .is_ci -}}
$ErrorActionPreference = "Stop";
$StepName = "Installing and configuring PowerToys";
Write-Host -ForegroundColor Cyan $StepName;

# TODO: this combination of steps seems to error out when running the first time, but succeeds on re-run.
# The error was "Unrecognized command: 'C:\Users\alejandrovi\AppData\Local\Microsoft\WindowsApps\winget.exe'"
# followed by the help that gets printed when running "winget" with no arguments.
winget configure --enable;
winget configure --accept-configuration-agreements --file "$env:USERPROFILE/.config/powertoys.dsc.yaml";

if ($LASTEXITCODE -ne 0) { throw "Failed to apply Winget configuration. Exit code: $LASTEXITCODE" }

Write-Host -ForegroundColor Green "$StepName - Done";
# {{- else -}}
# Skipped: WinGet DSC (winget configure) does not work reliably in CI environments.
# It requires Windows features and GUI interactions that are not available on headless CI runners.
Write-Host "Skipping PowerToys installation in CI environment";
# {{- end }}
