# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- /*
# See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
# for details on the line below. Needed for this script to run successfully in Github Codespaces.
# */ -}}
#!# {{- lookPath "bash" }}

# Note: need to provide the absolute path to 'brew' because profile files are not read by chezmoi when starting shells
# to execute scripts, so it won't be in the PATH.

# Need to install fzf with brew instead of apt because the version in apt (0.20.0) is too old
# and not compatible with navi. See https://github.com/denisidoro/navi/issues/447.
/home/linuxbrew/.linuxbrew/bin/brew install fzf;
