# shellcheck shell=bash
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

#############################################################
# Misc
#############################################################

# Make zsh behave like bash in terms of word delimiters (note: accomplished by configuring $WORDCHARS)
# '/', '-', and non-alphanumeric characters in general will be stopping points for key bindings like
# backward/forward-word, backward/forward-kill-word, etc.
if [[ -n "${ZSH_VERSION}" ]]; then
    autoload -U select-word-style;
    select-word-style bash;
fi

# {{- if not .is_codespaces }}
# Use ssh-ident.
# Needs to be a symlink from a file called 'ssh' accessible in PATH so when git and others call 'ssh' they call this.
SSH_SHIM=${HOME}/bin/ssh;
SSH_SHIM_TARGET=${HOME}/.local/bin/ssh-ident;
if [[ -e ${SSH_SHIM} ]]; then
    CURRENT_TARGET=$(readlink -f "${SSH_SHIM}");
    if [[ ${CURRENT_TARGET} != "${SSH_SHIM_TARGET}" ]]; then
        echo "'ssh' shim at '${SSH_SHIM}' points to '${CURRENT_TARGET}' (expected '${SSH_SHIM_TARGET}')" 1>&2;
    fi
else
    ln -s "${SSH_SHIM_TARGET}" "${SSH_SHIM}";
fi
# {{- end }}

# Show open port information.
alias ports="ss --tcp --udp --all --processes"

# Print PATH entries, one per line
alias path='echo -e ${PATH//:/\\n}'

# Date/time shortcuts
alias nowtime='date +"%T"'
alias nowdate='date +"%Y-%m-%d"'

# Grep shortcuts
alias egrep='grep -E --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias fgrep='grep -F --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'

# Chezmoi commands
alias cuaf='chezmoi update --apply=false'
