# This is the "Current user, all hosts" PowerShell profile file so it applies # to all host applications that host
# PowerShell (e.g. PowerShell ISE, VSCode).

{{ include "../ignored/profile.ps1" -}}
