{{- if eq .chezmoi.os "linux" -}}
{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

# Change default shell for current user to ZSH.
echo "Updating default shell for user '$(whoami)'";
sudo chsh -s $(which zsh) $(whoami);

# Change default shell for root to ZSH.
echo "Updating default shell for root";
sudo chsh -s $(which zsh);

{{- end }}
