{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

# Install pre-requisites (https://docs.brew.sh/Homebrew-on-Linux#requirements).
sudo apt-get install --yes --no-install-recommends \
  build-essential \
	procps \
	curl \
	file \
	git;

# Install Homebrew per the instructions in https://brew.sh/,
# but using a fixed version of the install script that I've read and validated.
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/f92e9a64f11580293bc0f1b87858f6aa3b9f8f23/install.sh)"

# Update Homebrew. Use absolute path since at this point it's not in the PATH yet.
/home/linuxbrew/.linuxbrew/bin/brew update --force --quiet;
