{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

{{- if .is_raspberryPi }}

# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/community-support?view=powershell-7.5#raspberry-pi-os

# Target location to install PowerShell. No trailing slashes.
TARGET_LOCATION=~/.local/share/powershell

# Update package lists
sudo apt update;

# Install dependencies.
sudo apt install jq libssl1.1 libunwind8 -y;

# Grab the latest tar.gz
bits=$(getconf LONG_BIT)
release=$(curl -sL https://api.github.com/repos/PowerShell/PowerShell/releases/latest)
package=$(echo $release | jq -r ".assets[].browser_download_url" | grep "linux-arm${bits}.tar.gz")
wget $package

# Make folder to put powershell
mkdir $TARGET_LOCATION;

# Unpack the tar.gz file
tar -xvf "./${package##*/}" -C $TARGET_LOCATION;
rm "./${package##*/}";

# (Re)create symlink
sudo rm /usr/bin/pwsh;
sudo ln -s $TARGET_LOCATION/pwsh /usr/bin/pwsh;

{{- else if .is_ubuntu }}

# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/install-ubuntu?view=powershell-7.3

# Install pre-requisites.
sudo apt update && sudo apt install --yes wget apt-transport-https software-properties-common;

# Download the Microsoft repository GPG keys
wget -q "https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb";

# Register the Microsoft repository GPG keys
sudo dpkg -i packages-microsoft-prod.deb;

# Refresh packages and install PowerShell.
sudo apt update && sudo apt install --yes powershell;

{{- /* Debian */ -}}
{{- else if and (.is_debian) (not .is_raspberryPi) }}

# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/install-ubuntu?view=powershell-7.3

# Install pre-requisites.
sudo apt update && sudo apt install --yes curl gnupg apt-transport-https;

# Import the public repository GPG keys.
curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add - ;

# Register the Microsoft Product feed.
sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-debian-bullseye-prod bullseye main" > /etc/apt/sources.list.d/microsoft.list'

# Refresh packages and install PowerShell.
sudo apt update && sudo apt install --yes powershell;

{{- else }}

>&2 echo "Unexpected OS/architecture. Cannot install Powershell.";
exit 1;

{{- end }}
