{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

{{- if .is_arm64 }}

# ARM64 Linux (Raspberry Pi, GitHub ARM64 runners, etc.)
# The Microsoft apt repository doesn't provide ARM64 packages for PowerShell,
# so we install from the official tar.gz release instead.
# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/community-support?view=powershell-7.5#raspberry-pi-os

# Target location to install PowerShell. No trailing slashes.
TARGET_LOCATION=~/.local/share/powershell

# Update package lists
sudo apt update;

# Install dependencies.
# Note: libssl1.1 may not be available on newer distros, try libssl3 as fallback
sudo apt install jq libunwind8 -y;
sudo apt install libssl1.1 -y || sudo apt install libssl3 -y;

# Grab the latest tar.gz
bits=$(getconf LONG_BIT)
release=$(curl -sL https://api.github.com/repos/PowerShell/PowerShell/releases/latest)
package=$(echo $release | jq -r ".assets[].browser_download_url" | grep "linux-arm${bits}.tar.gz")
wget $package

# Make folder to put powershell
mkdir -p $TARGET_LOCATION;

# Unpack the tar.gz file
tar -xvf "./${package##*/}" -C $TARGET_LOCATION;
rm "./${package##*/}";

# (Re)create symlink
sudo rm -f /usr/bin/pwsh;
sudo ln -s $TARGET_LOCATION/pwsh /usr/bin/pwsh;

{{- else if .is_ubuntu }}

# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/install-ubuntu?view=powershell-7.5

# Update the list of packages
sudo apt-get update;

# Install pre-requisite packages.
sudo apt-get install -y wget apt-transport-https software-properties-common;

# Get the version of Ubuntu
source /etc/os-release;

# Download the Microsoft repository keys
wget -q https://packages.microsoft.com/config/ubuntu/$VERSION_ID/packages-microsoft-prod.deb;

# Register the Microsoft repository keys
sudo dpkg -i packages-microsoft-prod.deb;

# Delete the Microsoft repository keys file
rm packages-microsoft-prod.deb;

# Update the list of packages after we added packages.microsoft.com
sudo apt-get update;

# Install PowerShell
sudo apt-get install -y powershell;

{{- /* Debian */ -}}
{{- else if and (.is_debian) (not .is_raspberryPi) }}

# Original instructions: https://learn.microsoft.com/en-us/powershell/scripting/install/install-debian?view=powershell-7.5

# Update the list of packages
sudo apt-get update;

# Install pre-requisite packages.
sudo apt-get install -y wget;

# Get the version of Debian
source /etc/os-release;

# Download the Microsoft repository GPG keys
wget -q https://packages.microsoft.com/config/debian/$VERSION_ID/packages-microsoft-prod.deb;

# Register the Microsoft repository GPG keys
sudo dpkg -i packages-microsoft-prod.deb;

# Delete the Microsoft repository GPG keys file
rm packages-microsoft-prod.deb;

# Update the list of packages after we added packages.microsoft.com
sudo apt-get update;

# Install PowerShell
sudo apt-get install -y powershell;

{{- else }}

>&2 echo "Unexpected OS/architecture. Cannot install Powershell.";
exit 1;

{{- end }}
