###############################
# ZSH configuration
###############################
# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="alex"

# Include date when running 'history' command.
HIST_STAMPS="yyyy-mm-dd"

# Define plugins to load. Standard plugins can be found in $ZSH/plugins/ .
plugins=(git npm)
{{- if not .codespaces }}
plugins+=(ssh-agent)
{{- end }}
{{- if eq .chezmoi.hostname "rpi4" }}
plugins+=(docker docker-compose)
{{- else if .codespaces }}
plugins+=(docker docker-compose)
{{- end }}

# Lazy loading for SSH keys into ssh-agent and expiration time
zstyle :omz:plugins:ssh-agent lazy yes
zstyle :omz:plugins:ssh-agent lifetime ${SSH_AGENT_LIFETIME:-10h}

# Use Oh-My-Zsh
# Make sure to set any plugin-specific options before calling this
source $ZSH/oh-my-zsh.sh

# Use Oh-My-Posh
#eval "$(oh-my-posh init zsh --config "~/.config/alexvy86.omp.json")"

###############################
# User configuration
###############################

# Extra entries for PATH
export PATH=$HOME/bin:/usr/local/bin:$PATH

# Set up aliases
source $HOME/.aliases.sh

{{- if .codespaces }}

# Disable auto-update prompt; only print reminder when new version is available.
zstyle ':omz:update' mode reminder

{{- end }}

# Enable fnm auto-use when opening a folder with a .node-version or .nvmrc file.
export PATH=$HOME/.local/share/fnm:$PATH
if [ "$(command -v fnm)" ]; then
  eval "$(fnm env --use-on-cd)";
fi

# krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH";

# Homebrew
export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin";

# Enable the navi widget
if [ "$(command -v navi)" ]; then
  eval "$(navi widget zsh)";
fi

# Key bindings
# Ctrl-backspace, delete word to the left of the cursor
bindkey "^H" backward-kill-word
