{{- if eq .chezmoi.os "linux" -}}
{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

{{- if has (index .chezmoi.osRelease "id") (list "debian" "ubuntu") }}

{{- if .codespaces }}

# If we are in a Codespaces instance for the FluidFramework repo, OhMyZsh is already installed, skip installation.

echo "Detected GITHUB_REPOSITORY=$GITHUB_REPOSITORY" ;

if [[ "$GITHUB_REPOSITORY" =~ FluidFramework$ ]]; then
	echo 'This is a Codespaces instance for the microsoft/FluidFramework repository or one of its forks. Skipping oh-my-zsh installation.';
	exit;
else
	echo 'Codespaces instance is not for microsoft/FluidFramework or one of its forks. Proceeding with oh-my-zsh installation.';
fi

{{- end }}

# Only install if $ZSH is empty
if [[ -z "$ZSH" ]]; then
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/b2313ec7493dc127c9712f20654579221d0bcce6/tools/install.sh)" "" --unattended;
else
	echo "OhMyZsh seems to be installed already at '$ZSH'. Skipping installation.";
fi

{{- end }}

{{- end }}
