{{- if .codespaces -}}
{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

# If we are in a Codespaces instance for the FluidFramework repo, setup remotes the way I want them.

echo "Detected GITHUB_REPOSITORY=$GITHUB_REPOSITORY" ;

if [[ "$GITHUB_REPOSITORY" == 'microsoft/FluidFramework' ]]; then
  cd /workspaces/FluidFramework ;
  git remote rename origin upstream ;
  git remote add origin "https://github.com/alexvy86/FluidFramework" ;
  git fetch origin ;
  echo 'Github remotes configured successfully' ;
elif [[ "$GITHUB_REPOSITORY" =~ FluidFramework$ ]]; then
  cd /workspaces/FluidFramework ;
  git remote add upstream "https://github.com/microsoft/FluidFramework" ;
  git fetch upstream ;
  echo 'Github remotes configured successfully' ;
else
  echo 'Codespaces instance is not for microsoft/FluidFramework or one of its forks. Github remotes will not be configured.' ;
fi
{{- end -}}
