{{- if eq .chezmoi.os "linux" -}}
{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

{{- if has (index .chezmoi.osRelease "id") (list "debian" "ubuntu") }}

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/b2313ec7493dc127c9712f20654579221d0bcce6/tools/install.sh)" "" --unattended

{{- end }}

{{- end }}
