{{- /*
See https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-forkexec-no-such-file-or-directory-when-running-scripts-on-termux
for details on the line below. Needed for this script to run successfully in Github Codespaces.
*/ -}}
#!{{- lookPath "bash" }}

# Original instructions: https://ohmyposh.dev/docs/installation/linux under the "manual" tab

VERSION="v19.6.0";

{{- /* Raspberry Pi */ -}}
{{- if and (eq (index .chezmoi.osRelease "id") "debian") (eq .chezmoi.arch "arm64") }}
URL=https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/$VERSION/posh-linux-arm64
{{- /* Ubuntu and Debian */ -}}
{{- else if has (index .chezmoi.osRelease "id") (list "ubuntu" "debian") }}
URL=https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/$VERSION/posh-linux-amd64
{{- else }}
>&2 echo "Unexpected OS/architecture. Cannot install OhMyPosh.";
exit 1;
{{- end }}

# Download the executable
sudo wget $URL -O /usr/local/bin/oh-my-posh;
sudo chmod +x /usr/local/bin/oh-my-posh;

# Install themes. Will overwrite all files when extracting the zip.
mkdir ~/.poshthemes;
wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/$VERSION/themes.zip -O ~/.poshthemes/themes.zip;
unzip -o ~/.poshthemes/themes.zip -d ~/.poshthemes;
chmod u+rw ~/.poshthemes/*.omp.*;
rm ~/.poshthemes/themes.zip;
